.Title {
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 25px;
}
.pp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 150px;
} 
.guy {
  font-size: 25px;
  text-align: center;
  background-color: white;
  height: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 45px;
  color: #258DD8;
  
}
.icon {
  height: 50px;
  width: 50px;
  color: white;
  font-size: 30px;
  align-items: center;
  
}
