<ion-header>
  <ion-toolbar color="secondary">
      <div class="gallery-button">  
          <a routerLink="/upload"> <ion-icon ios="ios-camera" md="md-camera" class="icon"></ion-icon></a>
        </div>
    <ion-title class="Title">
      Teen Fit
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" class="content"> 
<img src="../../assets/teen.jpg" class="pp">
<p class="guy">
Elmers_Glue
</p>
<ion-icon name="trophy" class="icon"></ion-icon>
<p class="icon">
  Fit Score
</p>
</ion-content>
